@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000000;
  background: #fefbfb;
  /* font-family: 'Open Sans', sans-serif !important; */
  /* font-family: 'Roboto', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
img {
  width: 100%;
  height: 100%;
}
.icon-action {
  color: #4079a3;
  font-size: 20px;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}
.icon-delete {
  color: white;
  padding: 4px;
  border-radius: 50%;
  background-color: red;
  font-size: 18px;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}
.color-icon {
  color: #4079a3;
}
.ant-select-selector,
.ant-input {
  border-color: #4079a3 !important;
}
.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  margin-left: 5px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.router_active {
  cursor: pointer;
  color: #1890ff;
  &:hover {
    font-weight: 600;
  }
}
